
Spice64/bin/ngspice.exe
Spice64/bin/ngspice_con.exe
Spice64/bin/vcomp140.dll
Spice64/docs/ANALYSES
Spice64/docs/AUTHORS
Spice64/docs/BUGS
Spice64/docs/COPYING
Spice64/docs/DEVICES
Spice64/docs/FAQ
Spice64/docs/INSTALL
Spice64/docs/NEWS
Spice64/docs/ngspice-32-manual.pdf
Spice64/docs/README
Spice64/docs/README-old.adms
Spice64/docs/README.adms
Spice64/docs/README.shared-xspice
Spice64/docs/README.tcl
Spice64/docs/README.utf8
Spice64/docs/README.vdmos
Spice64/docs/Stuarts_Poly_Notes
Spice64/examples/adms/ekv/ekv26_0u5.par
Spice64/examples/adms/ekv/ekv_out.sp
Spice64/examples/adms/ekv/ekv_tran.sp
Spice64/examples/adms/hicum0/hic0_gum.sp
Spice64/examples/adms/hicum0/hic0_out.sp
Spice64/examples/adms/hicum0/model-card-hicumL0V1p11.lib
Spice64/examples/adms/hicum2/hic2_gum.sp
Spice64/examples/adms/hicum2/hic2_out.sp
Spice64/examples/adms/hicum2/model-card-hicumL2V2p21.lib
Spice64/examples/adms/mextram/mex_gum.sp
Spice64/examples/adms/mextram/mex_out.sp
Spice64/examples/adms/psp/psp_out.sp
Spice64/examples/adms/psp/psp_tran.sp
Spice64/examples/cider/bicmos/bicmos.lib
Spice64/examples/cider/bicmos/bicmpd.cir
Spice64/examples/cider/bjt/astable.cir
Spice64/examples/cider/bjt/colposc.cir
Spice64/examples/cider/bjt/ecp.cir
Spice64/examples/cider/bjt/invchain.cir
Spice64/examples/cider/bjt/meclgate.cir
Spice64/examples/cider/bjt/pebjt.lib
Spice64/examples/cider/bjt/pz.cir
Spice64/examples/cider/bjt/rtlinv.cir
Spice64/examples/cider/bjt/vco.cir
Spice64/examples/cider/diode/diode.cir
Spice64/examples/cider/diode/diotran.cir
Spice64/examples/cider/diode/pindiode.cir
Spice64/examples/cider/jfet/jfet.cir
Spice64/examples/cider/mos/bootinv.cir
Spice64/examples/cider/mos/charge.cir
Spice64/examples/cider/mos/cmosinv.cir
Spice64/examples/cider/mos/nmosinv.cir
Spice64/examples/cider/mos/pass.cir
Spice64/examples/cider/mos/ringosc.cir
Spice64/examples/cider/parallel/BICMOS.LIB
Spice64/examples/cider/parallel/bicmpd.cir
Spice64/examples/cider/parallel/bicmpu.cir
Spice64/examples/cider/parallel/clkfeed.cir
Spice64/examples/cider/parallel/cmosamp.cir
Spice64/examples/cider/parallel/eclinv.cir
Spice64/examples/cider/parallel/ecpal.cir
Spice64/examples/cider/parallel/foobar
Spice64/examples/cider/parallel/gmamp.cir
Spice64/examples/cider/parallel/latch.cir
Spice64/examples/cider/parallel/ppef.1d.cir
Spice64/examples/cider/parallel/ppef.2d.cir
Spice64/examples/cider/parallel/readme
Spice64/examples/cider/parallel/ringosc.1u.cir
Spice64/examples/cider/parallel/ringosc.2u.cir
Spice64/examples/cider/resistor/gaasres.cir
Spice64/examples/cider/resistor/sires.cir
Spice64/examples/cider/serial/astable.cir
Spice64/examples/cider/serial/charge.cir
Spice64/examples/cider/serial/colposc.cir
Spice64/examples/cider/serial/dbridge.cir
Spice64/examples/cider/serial/invchain.cir
Spice64/examples/cider/serial/meclgate.cir
Spice64/examples/cider/serial/nmosinv.cir
Spice64/examples/cider/serial/pass.cir
Spice64/examples/cider/serial/pullup.cir
Spice64/examples/cider/serial/readme
Spice64/examples/cider/serial/recovery.cir
Spice64/examples/cider/serial/rtlinv.cir
Spice64/examples/cider/serial/vco.cir
Spice64/examples/control_structs/foreach_bjt_ft.sp
Spice64/examples/control_structs/if-batchmode.cir
Spice64/examples/control_structs/if-test-1.cir
Spice64/examples/control_structs/new-check-3.sp
Spice64/examples/control_structs/new-check-4.sp
Spice64/examples/control_structs/repeat3.sp
Spice64/examples/control_structs/s-param.cir
Spice64/examples/digital/74HCng_short_2.lib
Spice64/examples/digital/adder-comparison.txt
Spice64/examples/digital/adder_behav.cir
Spice64/examples/digital/adder_bip.cir
Spice64/examples/digital/adder_mos.cir
Spice64/examples/digital/adder_Xspice.cir
Spice64/examples/digital/nggtk.tcl
Spice64/examples/inductive-systems/positive-definite-1.cir
Spice64/examples/inductive-systems/positive-definite-2.cir
Spice64/examples/inductive-systems/positive-definite-3.cir
Spice64/examples/inductive-systems/positive-definite-4.cir
Spice64/examples/measure/buggy-meas-tran.sp
Spice64/examples/measure/func_cap.sp
Spice64/examples/measure/inv-meas-tran-auto.sp
Spice64/examples/measure/inv-meas-tran-control.sp
Spice64/examples/measure/inv-meas-tran.sp
Spice64/examples/measure/mos-meas-dc-control.sp
Spice64/examples/measure/mos-meas-dc.sp
Spice64/examples/measure/rc-meas-ac-control.sp
Spice64/examples/measure/rc-meas-ac.sp
Spice64/examples/measure/simple-meas-tran.sp
Spice64/examples/memristor/memristor.sp
Spice64/examples/memristor/memristor_x.sp
Spice64/examples/Monte_Carlo/MC_2_circ.sp
Spice64/examples/Monte_Carlo/MC_2_control.sp
Spice64/examples/Monte_Carlo/MC_ring.sp
Spice64/examples/Monte_Carlo/mc_ring_circ.net
Spice64/examples/Monte_Carlo/mc_ring_lib_complete_actual.cir
Spice64/examples/Monte_Carlo/MC_ring_ts.sp
Spice64/examples/Monte_Carlo/MonteCarlo.sp
Spice64/examples/Monte_Carlo/OpWien.sp
Spice64/examples/Monte_Carlo/rand_numb_test.cir
Spice64/examples/numparam/example.cir
Spice64/examples/numparam/pin.mod
Spice64/examples/numparam/pintest.cir
Spice64/examples/p-to-n-examples/.spiceinit
Spice64/examples/p-to-n-examples/555-timer-2.cir
Spice64/examples/p-to-n-examples/ad22057n.lib
Spice64/examples/p-to-n-examples/logic.cir
Spice64/examples/p-to-n-examples/MCP6041.txt
Spice64/examples/p-to-n-examples/MOS1_out.cir
Spice64/examples/p-to-n-examples/op-test-adi.cir
Spice64/examples/p-to-n-examples/op-test.cir
Spice64/examples/p-to-n-examples/OP_MCP6041.cir
Spice64/examples/p-to-n-examples/OPA171.txt
Spice64/examples/p-to-n-examples/Optimos_out.cir
Spice64/examples/p-to-n-examples/README
Spice64/examples/p-to-n-examples/relax_osc_st.cir
Spice64/examples/p-to-n-examples/remcirc-test.cir
Spice64/examples/p-to-n-examples/rtest.lib
Spice64/examples/p-to-n-examples/switch-invs.lib
Spice64/examples/p-to-n-examples/switch-oscillators.cir
Spice64/examples/p-to-n-examples/switch-oscillators_inc.cir
Spice64/examples/p-to-n-examples/TLC555.LIB
Spice64/examples/plot/test-small-plot.cir
Spice64/examples/proc2mod/process.pro
Spice64/examples/pss/colpitt_osc_pss.cir
Spice64/examples/pss/compl_cross_quad_osc_pss.cir
Spice64/examples/pss/hartley_osc_pss.cir
Spice64/examples/pss/ring_osc_pss.cir
Spice64/examples/pss/vackar_osc_pss.cir
Spice64/examples/pss/vdp_osc_pss.cir
Spice64/examples/snapshot/adder_mos.cir
Spice64/examples/snapshot/adder_mos_circ.cir
Spice64/examples/snapshot/adder_snload.script
Spice64/examples/soi/bsim4soi/nmos4p0.mod
Spice64/examples/soi/bsim4soi/pmos4p0.mod
Spice64/examples/soi/Inv_chain.sp
Spice64/examples/soi/inv_dc.sp
Spice64/examples/soi/inv_tr.sp
Spice64/examples/soi/ring51_40.sp
Spice64/examples/tclspice/tcl-testbench1/capa.cir
Spice64/examples/tclspice/tcl-testbench1/PN2222.mod
Spice64/examples/tclspice/tcl-testbench1/tcl-testbench1.sh
Spice64/examples/tclspice/tcl-testbench1/testCapa.cir
Spice64/examples/tclspice/tcl-testbench2/example.cir
Spice64/examples/tclspice/tcl-testbench2/tcl-testbench2.sh
Spice64/examples/tclspice/tcl-testbench3/differentiate.tcl
Spice64/examples/tclspice/tcl-testbench3/FB14.cir
Spice64/examples/tclspice/tcl-testbench3/tcl-testbench3.sh
Spice64/examples/tclspice/tcl-testbench4/bltGraph.tcl
Spice64/examples/tclspice/tcl-testbench4/example.cir
Spice64/examples/tclspice/tcl-testbench4/selectfromlist.tcl
Spice64/examples/tclspice/tcl-testbench4/tcl-testbench4.sh
Spice64/examples/tclspice/tcl-testbench4/vspicechart.tcl
Spice64/examples/tclspice/tcl/diffpair.cir
Spice64/examples/tclspice/tcl/test_vectoblt.sh
Spice64/examples/transient-noise/modelcard.nmos
Spice64/examples/transient-noise/modelcard.pmos
Spice64/examples/transient-noise/noi-ring51-demo.cir
Spice64/examples/transient-noise/noi-sc-tr.cir
Spice64/examples/transient-noise/noilib-demo.h
Spice64/examples/transient-noise/noise_vnoi.cir
Spice64/examples/transient-noise/README
Spice64/examples/transient-noise/rts-1.cir
Spice64/examples/transient-noise/shot_ng.cir
Spice64/examples/transient-noise/simple-noise.cir
Spice64/examples/TransImpedanceAmp/output.net
Spice64/examples/TransImpedanceAmp/README
Spice64/examples/TransmissionLines/cpl1_4_line.sp
Spice64/examples/TransmissionLines/cpl2_2_line.sp
Spice64/examples/TransmissionLines/cpl3_4_line.sp
Spice64/examples/TransmissionLines/cpl4_txl_2_line.sp
Spice64/examples/TransmissionLines/cpl_ibm1.sp
Spice64/examples/TransmissionLines/cpl_ibm2.sp
Spice64/examples/TransmissionLines/cpl_ibm3.sp
Spice64/examples/TransmissionLines/ltra1_1_line.sp
Spice64/examples/TransmissionLines/ltra1_4_line.sp
Spice64/examples/TransmissionLines/ltra2_2_line.sp
Spice64/examples/TransmissionLines/ltra3_2_line.sp
Spice64/examples/TransmissionLines/ltra4_1_line.sp
Spice64/examples/TransmissionLines/ltra5_1_line.sp
Spice64/examples/TransmissionLines/ltra6_2_line.sp
Spice64/examples/TransmissionLines/ltra7_4_line.sp
Spice64/examples/TransmissionLines/txl1_1_line.sp
Spice64/examples/TransmissionLines/txl2_3_line.sp
Spice64/examples/TransmissionLines/txl3_1_line.sp
Spice64/examples/TransmissionLines/txl4_1_line.sp
Spice64/examples/utf-8/стекло/ext-ascii-1.cir
Spice64/examples/utf-8/стекло/ext-ascii-2.cir
Spice64/examples/utf-8/стекло/ext-utf8-2.cir
Spice64/examples/utf-8/стекло/ext-utf8-3.cir
Spice64/examples/utf-8/стекло/ext-utf8-c.cir
Spice64/examples/utf-8/стекло/ext-utf8-c2.cir
Spice64/examples/utf-8/стекло/ext-utf8-c4.cir
Spice64/examples/utf-8/стекло/ext-utf8-cyg2.cir
Spice64/examples/utf-8/стекло/os_compiled.sp
Spice64/examples/utf-8/стекло/있어요/adder_mos.cir
Spice64/examples/utf-8/стекло/있어요/adder_mos3.cir
Spice64/examples/utf-8/стекло/있어요/ext-utf8-1.cir
Spice64/examples/utf-8/стекло/있어요/ext-utf8-2-있어요.cir
Spice64/examples/utf-8/стекло/있어요/ext-utf8-2.cir
Spice64/examples/utf-8/стекло/있어요/ext-utf8-3.cir
Spice64/examples/utf-8/стекло/있어요/ext-utf8-4.cir
Spice64/examples/utf-8/стекло/있어요/utf-8-inv.cir
Spice64/examples/utf-8/стекло/있어요/utf-8-inv_w.cir
Spice64/examples/various/3d_loop.sp
Spice64/examples/various/adder_mos.cir
Spice64/examples/various/agauss_test.cir
Spice64/examples/various/alterparam.sp
Spice64/examples/various/bjt_ac_par.sp
Spice64/examples/various/bjtnoise.cir
Spice64/examples/various/compose-examples.cir
Spice64/examples/various/dc_loop.sp
Spice64/examples/various/diode_ac_par.sp
Spice64/examples/various/FFT_Leakage.cir
Spice64/examples/various/FFT_tests.cir
Spice64/examples/various/gain_stage.cir
Spice64/examples/various/i(xxx)_tests.cir
Spice64/examples/various/model-name-check.cir
Spice64/examples/various/modelcard.nmos
Spice64/examples/various/modelcard.pmos
Spice64/examples/various/nic_soa.cir
Spice64/examples/various/nmos_out_BSIM330.sp
Spice64/examples/various/nmos_pmos_BSIM330.sp
Spice64/examples/various/nmos_pmos_plotting.sp
Spice64/examples/various/param_sweep.cir
Spice64/examples/various/ro_17_4.cir
Spice64/examples/various/tmp-noise-2.cir
Spice64/examples/various/tmp-noise.cir
Spice64/examples/various/todo-temper-3.cir
Spice64/examples/vbic/DFF_Y_ECL.sp
Spice64/examples/vbic/Infineon_VBIC.lib
Spice64/examples/vbic/npn_ft.sp
Spice64/examples/vbic/npn_gum.sp
Spice64/examples/vbic/npn_out.sp
Spice64/examples/vbic/qnva.mod
Spice64/examples/vbic/self-heat.sp
Spice64/examples/vbic/vbic99_dc.sp
Spice64/examples/vbic/vbic99_tran.sp
Spice64/examples/vbic/vbic_ac_par.sp
Spice64/examples/vdmos/100W.sp
Spice64/examples/vdmos/100W_wingspread.sp
Spice64/examples/vdmos/crss_coss_ciss.sp
Spice64/examples/vdmos/dcdc.sp
Spice64/examples/vdmos/inv_vdmos.sp
Spice64/examples/vdmos/IXTH80N20L-IXTH48P20P-quasisat.sp
Spice64/examples/vdmos/IXTP6N100D2-cap.sp
Spice64/examples/vdmos/IXTP6N100D2-n-weak-inv.sp
Spice64/examples/vdmos/mtriode_nch.sp
Spice64/examples/vdmos/ro_11_vdmos.sp
Spice64/examples/vdmos/self-heating.sp
Spice64/examples/vdmos/soa_chk.sp
Spice64/examples/vdmos/theta_nch.sp
Spice64/examples/vdmos/VDMOS-DIO.sp
Spice64/examples/vdmos/vdmos-out.sp
Spice64/examples/vdmos/vdmos-out_ir_mtr.sp
Spice64/examples/vdmos/vdmosp-out-mtr.sp
Spice64/examples/vdmos/vdmosp-out.sp
Spice64/examples/xspice/analog_models1_transient.sp
Spice64/examples/xspice/d_lut/mult4bit.spi
Spice64/examples/xspice/d_source/d_source-stimulus.txt
Spice64/examples/xspice/d_source/d_source-stimulus2.txt
Spice64/examples/xspice/d_source/d_source-stimulus3.txt
Spice64/examples/xspice/d_source/d_source.cir
Spice64/examples/xspice/d_source/PWMexample.net
Spice64/examples/xspice/d_source/pwmexample_data.text
Spice64/examples/xspice/d_source/test/d_source-stimulus3.txt
Spice64/examples/xspice/delta-sigma/count-latch-dac.cir
Spice64/examples/xspice/delta-sigma/counter-test.cir
Spice64/examples/xspice/delta-sigma/delta-sigma-1.cir
Spice64/examples/xspice/delta-sigma/mod1-ct-test.cir
Spice64/examples/xspice/delta-sigma/mod1-ct.cir
Spice64/examples/xspice/delta-sigma/README
Spice64/examples/xspice/filesource/my-source.txt
Spice64/examples/xspice/filesource/simple-filesource.cir
Spice64/examples/xspice/fstest.sp
Spice64/examples/xspice/original-examples/analog_models1_ac.deck
Spice64/examples/xspice/original-examples/analog_models1_dc.deck
Spice64/examples/xspice/original-examples/analog_models1_swept_dc.deck
Spice64/examples/xspice/original-examples/analog_models1_transient.deck
Spice64/examples/xspice/original-examples/analog_models2_ac.deck
Spice64/examples/xspice/original-examples/analog_models2_dc.deck
Spice64/examples/xspice/original-examples/analog_models2_swept_dc.deck
Spice64/examples/xspice/original-examples/analog_models2_transient.deck
Spice64/examples/xspice/original-examples/analog_models3_ac.deck
Spice64/examples/xspice/original-examples/analog_models3_dc.deck
Spice64/examples/xspice/original-examples/analog_models3_swept_dc.deck
Spice64/examples/xspice/original-examples/analog_models3_transient.deck
Spice64/examples/xspice/original-examples/analog_models4_ac.deck
Spice64/examples/xspice/original-examples/analog_models4_dc.deck
Spice64/examples/xspice/original-examples/analog_models4_swept_dc.deck
Spice64/examples/xspice/original-examples/analog_models4_transient.deck
Spice64/examples/xspice/original-examples/arbitrary_phase.deck
Spice64/examples/xspice/original-examples/bad_io.deck
Spice64/examples/xspice/original-examples/bad_io_type.deck
Spice64/examples/xspice/original-examples/bad_name.deck
Spice64/examples/xspice/original-examples/bad_param.deck
Spice64/examples/xspice/original-examples/bad_param_type.deck
Spice64/examples/xspice/original-examples/diffpair.in
Spice64/examples/xspice/original-examples/digital_invert.deck
Spice64/examples/xspice/original-examples/digital_models.deck
Spice64/examples/xspice/original-examples/digital_models1.deck
Spice64/examples/xspice/original-examples/digital_models2.deck
Spice64/examples/xspice/original-examples/digital_models3.deck
Spice64/examples/xspice/original-examples/digital_models4.deck
Spice64/examples/xspice/original-examples/dot_model_ref.deck
Spice64/examples/xspice/original-examples/hybrid_models1_dc.deck
Spice64/examples/xspice/original-examples/hybrid_models1_transient.deck
Spice64/examples/xspice/original-examples/initial_conditions.deck
Spice64/examples/xspice/original-examples/io_ordering.deck
Spice64/examples/xspice/original-examples/io_types.deck
Spice64/examples/xspice/original-examples/long_names.deck
Spice64/examples/xspice/original-examples/mixed_case.deck
Spice64/examples/xspice/original-examples/mixed_io_size.deck
Spice64/examples/xspice/original-examples/mixed_mode.deck
Spice64/examples/xspice/original-examples/mixed_ref.deck
Spice64/examples/xspice/original-examples/mosamp2.in
Spice64/examples/xspice/original-examples/mosmem.in
Spice64/examples/xspice/original-examples/param_defaults.deck
Spice64/examples/xspice/original-examples/param_types.deck
Spice64/examples/xspice/original-examples/parsing.deck
Spice64/examples/xspice/original-examples/polarity.deck
Spice64/examples/xspice/original-examples/rca3040.in
Spice64/examples/xspice/original-examples/rtlinv.in
Spice64/examples/xspice/original-examples/schmitt.in
Spice64/examples/xspice/original-examples/spice3.deck
Spice64/examples/xspice/original-examples/suffixes.deck
Spice64/examples/xspice/original-examples/supply_ramping.deck
Spice64/examples/xspice/original-examples/user_defined_nodes.deck
Spice64/examples/xspice/original-examples/xspice.deck
Spice64/examples/xspice/pll/f-p-det-d-sub.cir
Spice64/examples/xspice/pll/loop-filter-2.cir
Spice64/examples/xspice/pll/loop-filter.cir
Spice64/examples/xspice/pll/pll-xspice-fstep.cir
Spice64/examples/xspice/pll/pll-xspice.cir
Spice64/examples/xspice/pll/README
Spice64/examples/xspice/pll/test-f-p-det.cir
Spice64/examples/xspice/pll/test_vco.cir
Spice64/examples/xspice/pll/vco_sub.cir
Spice64/examples/xspice/pll/vco_sub_new.cir
Spice64/examples/xspice/sine.m
Spice64/examples/xspice/state/nggtk.tcl
Spice64/examples/xspice/state/state-machine.cir
Spice64/examples/xspice/state/state.in
Spice64/examples/xspice/table/bsim4n-2d-1.table
Spice64/examples/xspice/table/bsim4n-2d-2.table
Spice64/examples/xspice/table/bsim4n-2d-3.table
Spice64/examples/xspice/table/bsim4n-3d-1.table
Spice64/examples/xspice/table/bsim4p-2d-2.table
Spice64/examples/xspice/table/bsim4p-2d-3.table
Spice64/examples/xspice/table/bsim4p-3d-1.table
Spice64/examples/xspice/table/clc409.sub
Spice64/examples/xspice/table/clc409mod.sub
Spice64/examples/xspice/table/combi_script.cir
Spice64/examples/xspice/table/modelcards/modelcard.nmos
Spice64/examples/xspice/table/modelcards/modelcard.pmos
Spice64/examples/xspice/table/README.table
Spice64/examples/xspice/table/table-generator-b4-2d.sp
Spice64/examples/xspice/table/table-generator-b4-3d.sp
Spice64/examples/xspice/table/table-generator-q-2d.sp
Spice64/examples/xspice/table/table-model-bip-2d-1-oc.sp
Spice64/examples/xspice/table/table-model-bip-2d-1.sp
Spice64/examples/xspice/table/table-model-bip-2d-2.sp
Spice64/examples/xspice/table/table-model-man-2d-1.sp
Spice64/examples/xspice/table/table-model-man-3d-1.sp
Spice64/examples/xspice/table/table-model-mos-2d-2-oc.sp
Spice64/examples/xspice/table/table-model-mos-2d-2.sp
Spice64/examples/xspice/table/table-model-mos-2d-3.sp
Spice64/examples/xspice/table/table-model-mos-2d-4.sp
Spice64/examples/xspice/table/table-model-mos-3d-2.sp
Spice64/examples/xspice/table/table-model-mos-3d-3.sp
Spice64/examples/xspice/table/table-model-mos-3d-4.sp
Spice64/examples/xspice/table/table-model-mos-3d-5.sp
Spice64/examples/xspice/table/test-2d-1.table
Spice64/examples/xspice/table/test-2d-2.table
Spice64/examples/xspice/table/test-2d-3.table
Spice64/examples/xspice/table/test-3d-1.table
Spice64/examples/xspice/xspice_c1.cir
Spice64/examples/xspice/xspice_c2.cir
Spice64/examples/xspice/xspice_c3.cir
Spice64/lib/ngspice/analog.cm
Spice64/lib/ngspice/digital.cm
Spice64/lib/ngspice/spice2poly.cm
Spice64/lib/ngspice/table.cm
Spice64/lib/ngspice/xtradev.cm
Spice64/lib/ngspice/xtraevt.cm
Spice64/share/ngspice/scripts/spinit
